@model IEnumerable<FosterPetCare.WebMVC.Models.CaretakerEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaretakerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaretakerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaretakerType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateJoinedCaretaker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalTypeCaretaker)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CaretakerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaretakerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaretakerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateJoinedCaretaker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalTypeCaretaker)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
